@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    background: linear-gradient(to left, #60a5fa, transparent 60%, transparent);
    height: 100vh; /* Ensures the background covers the full viewport height */
    margin: 0; /* Removes default margin */
  }
  